/* src/components/Navbar.css */
@import "tailwindcss";

.navbar {
  background-color: #391b19;
  padding: 1rem;
  color: #fff3e7;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
  color: #fff3e7;
}

